# Ejercicio 4

La probabilidad de que la version actual de un contenido fuera editada sin dejar comentario para usuarios que estan logueados y que no estan logueados (★

In [1]:
import pandas as pd
import numpy as numpy

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
contenido = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/contents.csv")

In [ ]:
#Tengo que fijarme sobre los que no dejan comentario, que probabilidad hay de que esten logueados

In [4]:
edicionesSinComentario = contenido.query("revisor_comment.isnull()")

editaSinUsuario = edicionesSinComentario.query("revisor_username.isnull()")
editaConUsuario = edicionesSinComentario.query("revisor_username.notnull()")

totalDeEdiciones = len(edicionesSinComentario)
totalEditaSinUsuario = len(editaSinUsuario)
totalEditaConUsuario = len(editaConUsuario)

In [5]:
porcentajeEditaSinUsuario = totalEditaSinUsuario/totalDeEdiciones
porcentajeEditaConUSuario = totalEditaConUsuario/totalDeEdiciones

In [6]:
#Chequeo que la probabilidad sume 1
porcentajeEditaConUSuario + porcentajeEditaSinUsuario

1.0

# Ejercicio 35

Para los usuarios nativos (o superior) en español obtenga una serie cuyo índice sea cada uno de los otros idiomas que sabe y valor sea el nivel promedio (tomando N=4.5) (⭐⭐)

In [ ]:
lenguajes = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/languages.csv")
#Primero chequeo q no haya filas duplicadas y veo que no hay (omito operacion)
#Paso a numero y reemplazo n por el valor aclarado
def replace_babel_level(x):
    if (x == "N"):
      return 4.5
    return float(x)

#Borro filas que no tienen aclarado el lenguaje
lenguajes = lenguajes.query("babel_lang.notnull()")
lenguajes.loc[:,'babel_level'] = [replace_babel_level(x) for x in lenguajes.babel_level]
lenguajes

<ipython-input-3-bf3cb7d4f5eb>:11: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  lenguajes.loc[:,'babel_level'] = [replace_babel_level(x) for x in lenguajes.babel_level]

       babel_user  babel_lang  babel_level
0         4502458          FR          2.0
1         5928200          aa          0.0
2           46918          ab          0.0
3         2050449          ab          1.0
4         4715583         ace          0.0
...           ...         ...          ...
35661     2089885  zh-Hant-HK          1.0
35662     2089885  zh-Hant-TW          3.0
35663     5036533          zu          0.0
35664     5928200          zu          0.0
35665       87482         zza          4.5

[35662 rows x 3 columns]

In [ ]:
#Busco que usuarios hablan nativo o mejor español
usuarios = lenguajes.query("babel_level >= 4.5 and babel_lang == 'es' ")
usuarios = usuarios['babel_user']
usuarios

15166      15689
15167      16907
15168      27496
15169      34643
15170      40109
          ...
24100    6305012
24101    6306637
24102    6327193
24103    6327824
24104    6332447
Name: babel_user, Length: 8939, dtype: int64

In [ ]:
#Me quedo solo con los usuarios que esten en esa lista, y saco las filas de español
lenguajes = lenguajes[lenguajes.babel_user.isin(usuarios)]
lenguajes = lenguajes.query("babel_lang != 'es'")
lenguajes = lenguajes[['babel_lang','babel_level']]
lenguajes

       babel_lang  babel_level
0              FR          2.0
2              ab          0.0
6             acf          1.0
11             af          1.0
12             af          1.0
...           ...          ...
35645          zh          4.5
35651          zh          4.5
35652          zh          4.5
35658  zh-Hans-CN          4.5
35663          zu          0.0

[19127 rows x 2 columns]

In [ ]:
#Resultado
promedio = lenguajes.groupby(['babel_lang']).mean()
promedio  = promedio['babel_level']
promedio

babel_lang
FR            2.000000
ab            0.000000
acf           1.000000
af            1.250000
agr           1.000000
                ...
yua           3.000000
yue           3.000000
zh            1.361111
zh-Hans-CN    4.500000
zu            0.000000
Name: babel_level, Length: 177, dtype: float64

# Ejercicio 37

37.Obtenga un dataframe que tenga como índice al user_id, como columnas a los idiomas y el nivel de cada usuario para cada idioma como valor con -1 en caso de no tenerlo cargado. (⭐⭐)

In [ ]:
lenguajes = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/languages.csv")

#Borro filas que no tienen aclarado el lenguaje
lenguajes = lenguajes.query("babel_lang.notnull()")
lenguajes

       babel_user  babel_lang babel_level
0         4502458          FR           2
1         5928200          aa           0
2           46918          ab           0
3         2050449          ab           1
4         4715583         ace           0
...           ...         ...         ...
35661     2089885  zh-Hant-HK           1
35662     2089885  zh-Hant-TW           3
35663     5036533          zu           0
35664     5928200          zu           0
35665       87482         zza           N

[35662 rows x 3 columns]

In [ ]:
 #Aplico el formato que pide la consigna
lenguajes = lenguajes.pivot(index= 'babel_user', columns= 'babel_lang', values= 'babel_level')

In [ ]:
#Cambio los nan por -1
lenguajes = lenguajes.fillna(-1)
lenguajes

babel_lang,FR,aa,ab,ace,acf,af,agr,akk,aln,alt,...,zap,zea,zh,zh-Hans,zh-Hans-CN,zh-Hant,zh-Hant-HK,zh-Hant-TW,zu,zza
babel_user,,,,,,,,,,,,,,,,,,,,,
30,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,1,-1,-1,-1,-1,-1,-1,-1
38,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
262,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
267,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
294,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6318249,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6327193,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6327824,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6331490,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6332447,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

# Ejercicio 46

46. Si decimos que la ubicación de una categoría es el promedio de la latitud y longitud de sus contenidos geolocalizados que son miembros de ella (si es que tiene): ¿Cuales son las dos categorías más cercanas?

In [ ]:

import functools as functools

In [ ]:
geo_tags = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/geo_tags.csv")
categorias = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/categorylinks.csv")

In [ ]:
#Me quedo con las columnas que me interesan
geo_tags = geo_tags.loc[:,['gt_page_id','gt_lat','gt_lon']]

categorias = categorias.loc[:,['cl_from','cl_to']]

#Renombro columnas que significan lo mismo para menor confusion
geo_tags.rename(columns = {'gt_page_id':'id_contenido'}, inplace = True)
categorias.rename(columns = {'cl_from':'id_contenido'}, inplace = True)
categorias.rename(columns = {'cl_to':'categoria'}, inplace = True)

Ubicacion de una categoria = promedio de latitud y longitud de sus contenidos.

In [ ]:
#Me quedo con las categorias que tienen contenidos y los contenidos que tienen categorias
datos_categorias = geo_tags.merge(categorias, how = 'inner', on='id_contenido')

In [ ]:
#Agrupo las latitudes y longitudes de cada categoria sacando su promedio
datos_categorias = datos_categorias.groupby(['categoria'], as_index= False).agg({'gt_lat': 'mean', 'gt_lon': 'mean'})

#guardo la ubicacion como una tupla y agrupo por ubicacion
datos_categorias['ubicacion']= list(zip(datos_categorias.gt_lat,datos_categorias.gt_lon))
datos_categorias = datos_categorias[['categoria', 'ubicacion']]
datos_categorias

                    categoria                       ubicacion
0               1._FC_Colonia              (50.933611, 6.875)
1       1._FC_Heidenheim_1846              (48.6685, 10.1393)
2        1._FC_Kaiserslautern           (49.434444, 7.775833)
3             1._FC_NÃ¼rnberg          (49.426389, 11.125278)
4          1._FC_Union_Berlin          (52.457222, 13.568056)
...                       ...                             ...
108037                 Å koda              (50.4211, 14.9306)
108038                Å»agaÅ      (51.61666667, 15.31666667)
108039                  Å»nin            (52.84958, 17.71992)
108040                Å»ywiec    (49.688633335, 19.204016665)
108041                Å½ilina  (49.2258334175, 18.7081250825)

[108042 rows x 2 columns]

In [ ]:
#Junto aquellas categorias q comparten ubicacion y me quedo con aquellas ubicaciones con mas de una categoria
datos_categorias = datos_categorias.groupby('ubicacion').agg({'categoria':lambda x: list(x)})
datos_categorias = datos_categorias[datos_categorias.categoria.map(len)>1]

datos_categorias

                                                                       categoria
ubicacion
(-90.0, 0.0)                   [AntÃ¡rtida_en_2007, Canciones_de_1989, Cancio...
(-88.38333333, 162.0)          [Caballeros_grandes_cruces_de_la_Real_Orden_Vi...
(-85.53333333, -165.78333333)  [Comandantes_de_la_Orden_de_Dannebrog, Comenda...
(-83.33333333, 168.5)          [Exploradores_antÃ¡rticos_de_Australia, Explor...
(-82.66666667, -42.95)         [Diamantinos, Egresados_del_Colegio_Militar_de...
...                                                                          ...
(78.81666667, 132.88333333)    [Ateos_de_Noruega, Caballeros_de_la_Orden_de_D...
(79.81666667, 23.0)            [AviaciÃ³n_de_Finlandia, AviaciÃ³n_de_la_UniÃ³...
(80.2833333325, 53.09583333)   [Descubrimientos_geogrÃ¡ficos_de_1879, EcologÃ...
(80.81666667, 47.41666667)     [Caballeros_de_la_Orden_de_San_Estanislao, Fal...
(81.6914, -58.3154)            [Videojuegos_con_expansiones, Videojuegos_de_2...

[5992 rows x 1 columns]

Las dos categorias mas cercanas son cualquier dos categorias pertenecientes a una misma ubicacion.